@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Banner section start here */
.banner-section {
    text-align: center;
    width: 100%;
    margin: 25px auto;
    height: 652px;
    background-image: url('./assets/hero-bg.png');
}

.banner-section-container {
    width: 998px;
    height: 582px;
    margin: 26px auto 44px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.banner-img {
    height: 240px;
    width: 240px;
}

.banner-title {
    color: #0d1321;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    text-align: center;
}

.banner-text {
    color: #0d1321;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.contact-button {
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 24px;
    text-align: center;
    background: #0d1321;
    border-radius: 8px;
    cursor: pointer;
}
/* Banner section end from here */
